/* Nintendo Font
font-family: 'Press Start 2P', cursive;
*/
@font-face {
  font-family: 'pretendo';
  src: url(Pretendo.ttf) format('truetype');
}

body {
	color: #D20014;
	font-family: 'pretendo', sans-serif;
}

.container {
	width: 615px;
	height: 270px;
	border: 1px solid rgb(208,204,202);
	background-color: rgb(208,204,202);
}

.controller-body {
	width: 575px;
	height: 205px;
	border: 1px solid black;
	margin: 33px auto;
	background-color: black;
}

.d-pad-container {
	margin-top: 50px;
	margin-left: 30px;
	width: 125px;
	height: 125px;
	float: left;
}

#d-pad-border {
   width: 125px;
   height: 125px;
   margin: auto;
   position: relative;
   z-index: 0;
}

#d-pad-border:before, #d-pad-border:after {
  content: "";
  position: absolute;
  z-index: -2;
  background: grey;
}

#d-pad-border:before {
  left: 50%;
  width: 50px;
  margin-left: -25px;
  height: 100%;
  border-radius: 5px;
}

#d-pad-border:after {
  top: 50%;
  height: 50px;
  margin-top: -25px;
  width: 100%;
  border-radius: 5px;
}

#d-pad {
  width: 115px;
  height: 115px;
  margin: auto;
  position: absolute;
  top: 5px;
  left: 5px;
}

#d-pad:before, #d-pad:after {
  content: "";
  position: absolute;
  z-index: -1;
  background: #000;
}

#d-pad:before {
  left: 48%;
  width: 35%;
  margin-left: -15%;
  height: 100%;
  border-radius: 5px;
}

#d-pad:after {
  top: 48%;
  height: 35%;
  margin-top: -15%;
  width: 100%;
  border-radius: 5px;
}


#d-pad-dimple {
	width: 25px;
	height: 25px;
	border: 1px solid #c5c5c5;
	position: absolute;
	left: 45px;
	top: 44px;
	border-radius: 100px;
}

.left {
	 width: 16px;
	 height: 20px;
	 background: black;
	 position: absolute;
	 top: 48px;
	 left: 16px;
}
.left:before {
	 content:"";
	 position: absolute;
	 right: 100%;
	 top: -5px;
	 left: -13px;
	 width: 0;
	 height: 0;
	 border-top: 15px solid transparent;
	 border-right: 15px solid black;
	 border-bottom: 15px solid transparent;
}

.d-pad-left-border {
	 width: 17px;
	 height: 22px;
	 background: gray;
	 position: absolute;
	 top: 47px;
	 left: 16px;
}
.d-pad-left-border:before {
	 content:"";
	 position: absolute;
	 right: 100%;
	 top: -6px;
	 left: -14px;
	 width: 0;
	 height: 0;
	 border-top: 17px solid transparent;
	 border-right: 17px solid gray;
	 border-bottom: 17px solid transparent;
}

.right {
   width: 16px;
   height: 20px;
   background: black;
   position: absolute;
   top: 48px;
   left: 81px;
}
.right:before {
   content:"";
   position: absolute;
   right: 100%;
   top: -5px;
   left: 14px;
   width: 0;
   height: 0;
   border-top: 15px solid transparent;
   border-bottom: 15px solid transparent;
   border-left: 15px solid black;
}

.d-pad-right-border {
   width: 18px;
   height: 22px;
   background: gray;
   position: absolute;
   top: 47px;
   left: 80px;
   z-index: 0;
}
.d-pad-right-border:before {
   content:"";
   position: absolute;
   right: 100%;
   top: -6px;
   left: 14px;
   width: 0;
   height: 0;
   border-top: 17px solid transparent;
   border-bottom: 17px solid transparent;
   border-left: 17px solid gray;
}

.up {
   width: 20px;
   height: 17px;
   background: black;
   position: absolute;
   top: 16px;
   left: 49px;
}
.up:before {
	content:"";
	position: absolute;
	right: 100%;
	top: -12px;
	left: -5px;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid black;

}.d-pad-up-border {
   width: 22px;
   height: 17px;
   background: gray;
   position: absolute;
   top: 17px;
   left: 48px;
   z-index: -1;
}
.d-pad-up-border:before {
	content:"";
	position: absolute;
	right: 100%;
	top: -14px;
	left: -6px;
	width: 0;
	height: 0;
	border-left: 17px solid transparent;
	border-right: 17px solid transparent;
	border-bottom: 17px solid gray;
}

.d-pad-down-border {
	width: 22px;
	height: 16px;
	background: gray;
	position: absolute;
	top: 80px;
	left: 48px;
	z-index: -1;
}

.d-pad-down-border:before {
	content:"";
	position: absolute;
	right: 100%;
	top: 15px;
	left: -6px;
	width: 0;
	height: 0;
	border-left: 17px solid transparent;
	border-right: 17px solid transparent;
	border-top: 17px solid gray;
}

.down {
	width: 20px;
	height: 17px;
	background: black;
	position: absolute;
	top: 81px;
	left: 49px;
}

.down:before {
	content:"";
	position: absolute;
	right: 100%;
	top: 15px;
	left: -5px;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid black;
}

.b-a-button-section {
	height: 113px;
	float: left;
	width: 170px;
}

.b-button-container,
.a-button-container {
	width: 60px;
	height: 60px;
	float: left;
	margin-left: 30px;
	border-radius: 5px;
	background-color: rgb(208,204,202);
}

.a-button-container {
	margin-left: 20px;
}

.buttons {
	text-transform: uppercase;
}

.b, .a {
	width: 52px;
	height: 52px;
	border-radius: 100%;
	background-color: #D20014;
	margin-top: 4px;
	margin-left: 4px;
}

.select-start-section {
	width: 180px;
	height: 100%;
	float: left;
	margin-left: 30px;
}

.gray-bar-top,
.gray-bar {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.gray-bar,
.gray-bar-bottom {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.gray-bar, 
.gray-bar-top {
	width: 177.5px;
	height: 27.5px;
	background-color: rgb(120,120,120);
	margin-bottom: 10px;
}

.gray-bar-bottom {
	width: 177.5px;
	height: 23px;
	background-color: rgb(120,120,120);
}

.start-select-container {
  width: 177px;
  height: 60px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
	margin-bottom: 10px;
	background-color: rgb(208,204,202);
	position: relative;
}

.start-select-inner-container {
	width: 165px;
	height: 48px;
	border: 2px solid black;
	border-radius: 5px;
	background-color: rgb(208,204,202);
	position: absolute;
	top: 4px;
	left: 4px;
}

.select-text,
.start-text {
	padding: 6px 7px;
	color: #D20014;
	font-family: 'pretendo';
	letter-spacing: 1px;
	font-size: 15px;
}

.select-text {
	float: left;
}

.start-text {
	float: right
}

.select,
.start {
	height: 20px;
	width: 45;
	border-radius: 10px;
	background-color: black;
	float: left;
	margin-top: 13px;
}

.select {
	margin-left: 15px;
}

.start {
	margin-left: 40px;
}

.nintendo {
	font-family: 'pretendo';
	color: #D20014;
	letter-spacing: 1px;
	margin-top: 30px;
	margin-left: 40px;
	position: relative;
	height: 83px;
}

.reg {
	font-family: sans-serif;
	position: absolute;
	top: -5px;
}

.up-activate,
.left-activate,
.down-activate,
.right-activate  {
	background-color: #323232;
}

.up-activate:before {
	border-bottom: 15px solid #323232;
}

.down-activate:before {
	border-top: 15px solid #323232;
}

.right-activate:before {
	border-left: 15px solid #323232;
}

.left-activate:before {
	border-right: 15px solid #323232;
}

.left,
.right,
.down,
.up,
.select,
.start,
.b,
.a {
	cursor: pointer;
}

.button-text {
	text-align: right;
	padding: 5px 2px;
	text-transform: uppercase;
}

.ss-activate,
.start-activate,
.select-activate {
	background-color: #323232;
}

.button-activate,
.a-activate,
.b-activate {
	background-color: #7E000C;
}

.cheat-message-wrong,
.cheat-message-right {
	display: none;
}

.cheat-code-area,
.cheat-message-wrong,
.cheat-message-right {
	padding-top: 10px;
	font-size: 20px;
	font-family: 'Press Start 2P', cursive;
}

.reload {
	cursor: pointer;
}

.normal {
	font-family: sans-serif;
}