.container {
	width: 100%;
}

.controller-body {
	width: 575px;
	height: 202.5px;
	border: 1px solid black;
}

.d-pad-container {
	margin-top: 50px;
	margin-left: 27.5px;
	/*border: 1px solid black;*/
	width: 125px;
	height: 125px;
}

.b-button,
.a-button {
	width: 70px;
	height: 70px;
}

.start-select {
	width: 177.5px;
	height: 62.5px;
}

#d-pad-border {
   width: 125px;
   height: 125px;
   margin: auto;
   position: relative;
}

#d-pad-border:before, #d-pad-border:after {
  content: "";
  position: absolute;
  z-index: -2;
  background: grey;
}

#d-pad-border:before {
  left: 50%;
  width: 50px;
  margin-left: -25px;
  height: 100%;
  border-radius: 5px;
}

#d-pad-border:after {
  top: 50%;
  height: 50px;
  margin-top: -25px;
  width: 100%;
  border-radius: 5px;
}

#d-pad {
  width: 115px;
  height: 115px;
  margin: auto;
  position: absolute;
  top: 5px;
  left: 5px;
}

#d-pad:before, #d-pad:after {
  content: "";
  position: absolute;
  z-index: -1;
  background: #000;
}

#d-pad:before {
  left: 48%;
  width: 35%;
  margin-left: -15%;
  height: 100%;
  border-radius: 5px;
}

#d-pad:after {
  top: 48%;
  height: 35%;
  margin-top: -15%;
  width: 100%;
  border-radius: 5px;
}


#d-pad-dimple {
	width: 30px;
	height: 30px;
	border: 1px solid white;
	position: absolute;
	left: 42px;
	top: 42px;
	border-radius: 100px;
}

#d-pad-left {
	 width: 19px;
	 height: 23px;
	 background: red;
	 position: absolute;
	 top: 46px;
	 left: 16px;
}
#d-pad-left:before {
	 content:"";
	 position: absolute;
	 right: 100%;
	 top: -3px;
	 left: -13px;
	 width: 0;
	 height: 0;
	 border-top: 15px solid transparent;
	 border-right: 15px solid red;
	 border-bottom: 15px solid transparent;
}

#d-pad-right {
   width: 19px;
   height: 23px;
   background: red;
   position: absolute;
   top: 46px;
   left: 81px;
}
#d-pad-right:before {
   content:"";
   position: absolute;
   right: 100%;
   top: -3px;
   left: 16px;
   width: 0;
   height: 0;
   border-top: 15px solid transparent;
   border-bottom: 15px solid transparent;
   border-left: 15px solid red;
}

#d-pad-up {
   width: 23px;
   height: 14px;
   background: red;
   position: absolute;
   top: 14px;
   left: 39px;
}
#d-pad-up:before {
	content:"";
	position: absolute;
	right: 100%;
	top: -12px;
	left: -3px;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 13px solid red;
}

#d-pad-down {
	width: 23px;
	height: 14px;
	background: red;
	position: absolute;
	top: 71px;
	left: 39px;
}
#d-pad-down:before {
	content:"";
	position: absolute;
	right: 100%;
	top: 13px;
	left: -3px;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 13px solid red;
}

