.container {
	width: 615px;
	height: 270px;
	border: 1px solid black;
}

.controller-body {
	width: 575px;
	height: 205px;
	border: 1px solid black;
	margin: 33px auto;
	/*background-color: black;*/
}

.d-pad-container {
	margin-top: 50px;
	margin-left: 27.5px;
	/*border: 1px solid black;*/
	width: 125px;
	height: 125px;
	float: left;
}

.b-button,
.a-button {
	width: 70px;
	height: 70px;
}

.middle-section {
	width: 180px;
	height: 100%;
	float: left;
	margin-left: 20px;
}

.gray-bar-top,
.gray-bar {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.gray-bar,
.gray-bar-bottom {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.gray-bar, 
.gray-bar-top {
	width: 177.5px;
	height: 27.5px;
	background-color: #c5c5c5;
	margin-bottom: 10px;
}

.bottom-gray-bar {
	width: 177.5px;
	height: 20px;
	background-color: #c5c5c5;
}

.start-select-container {
	width: 177.5px;
	height: 62.5px;
	border: 1px solid black;
	border-radius: 5px;
	margin-bottom: 10px;
}

div.select, div.start {
	padding: 5px 7px;
}

.select {
	float: left;
}

.start {
	float: right
}

.select-btn {

}

.start-btn {
	
}


#d-pad-border {
   width: 125px;
   height: 125px;
   margin: auto;
   position: relative;
}

#d-pad-border:before, #d-pad-border:after {
  content: "";
  position: absolute;
  z-index: -2;
  background: grey;
}

#d-pad-border:before {
  left: 50%;
  width: 50px;
  margin-left: -25px;
  height: 100%;
  border-radius: 5px;
}

#d-pad-border:after {
  top: 50%;
  height: 50px;
  margin-top: -25px;
  width: 100%;
  border-radius: 5px;
}

#d-pad {
  width: 115px;
  height: 115px;
  margin: auto;
  position: absolute;
  top: 5px;
  left: 5px;
}

#d-pad:before, #d-pad:after {
  content: "";
  position: absolute;
  z-index: -1;
  background: #000;
}

#d-pad:before {
  left: 48%;
  width: 35%;
  margin-left: -15%;
  height: 100%;
  border-radius: 5px;
}

#d-pad:after {
  top: 48%;
  height: 35%;
  margin-top: -15%;
  width: 100%;
  border-radius: 5px;
}


#d-pad-dimple {
	width: 25px;
	height: 25px;
	border: 1px solid white;
	position: absolute;
	left: 44px;
	top: 44px;
	border-radius: 100px;
}

#d-pad-left {
	 width: 16px;
	 height: 20px;
	 background: red;
	 position: absolute;
	 top: 48px;
	 left: 16px;
}
#d-pad-left:before {
	 content:"";
	 position: absolute;
	 right: 100%;
	 top: -5px;
	 left: -13px;
	 width: 0;
	 height: 0;
	 border-top: 15px solid transparent;
	 border-right: 15px solid red;
	 border-bottom: 15px solid transparent;
}

#d-pad-right {
   width: 16px;
   height: 20px;
   background: red;
   position: absolute;
   top: 48px;
   left: 81px;
}
#d-pad-right:before {
   content:"";
   position: absolute;
   right: 100%;
   top: -5px;
   left: 14px;
   width: 0;
   height: 0;
   border-top: 15px solid transparent;
   border-bottom: 15px solid transparent;
   border-left: 15px solid red;
}

#d-pad-up {
   width: 20px;
   height: 17px;
   background: red;
   position: absolute;
   top: 16px;
   left: 48px;
}
#d-pad-up:before {
	content:"";
	position: absolute;
	right: 100%;
	top: -12px;
	left: -5px;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid red;
}

#d-pad-down {
	width: 20px;
	height: 17px;
	background: red;
	position: absolute;
	top: 81px;
	left: 48px;
}
#d-pad-down:before {
	content:"";
	position: absolute;
	right: 100%;
	top: 15px;
	left: -5px;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid red;
}

